.mydiv {
  position: relative;
  width: 1300px;
  height: 600px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-shadow: -10px 10px 20px 0px rgba(0, 0, 0, 0.5); /* Adjust the values as needed */
}
